<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Blog de Jean Forteroche</title>

    <!--CSS-->
    <link rel="stylesheet" href="/public/css/materialize.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/index.css"/>

</head>

<body>

<!-- NAVBAR-->
<nav class="navbar-fixed">
    <div class="nav-wrapper blue-grey" style="background-image: url('/public/images/winter-4830285_1280.jpg');
         background-repeat: no-repeat; background-size: cover">

    </div>
</nav>

<div>
    <h2 class="center" style="font-weight: bold;
        font-family: 'FunSized', serif;">
        Blog de Jean Forteroche
    </h2>
    <h4 class="subheader center" style="font-weight: bold;
        font-family: 'FunSized', serif; color: darkslategrey;">
        Acteur, écrivain
    </h4>
</div>



