<footer class="page-footer red footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Blog de Jean Forteroche</h5>
                <p class="grey-text text-lighten-4">
                    Acteur et écrivain, travaille actuellement sur mon prochain roman, "Billet simple pour l'Alaska"
                </p>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Text
        </div>
    </div>
</footer>

</body>