/*  FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title_post {
    color: black;
}

.title_post :hover {
    color: #546e7a;
}


/*
@font-face {
    font-family: "FunSized";
    src: url("/public/fonts/FunSized.ttf");
}

.font_special {
    font-weight: bold;
    font-family: 'FunSized', serif;
    font-size: 50px;
}*/
