/*  FOOTER */

.footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}

.title_post {
    color: black;
}

.title_post :hover {
    color: #546e7a;
}

body {
    background-color: ghostwhite;
}

.link_stylised {
    background-color: steelblue;
    color: white;
    padding: 10px 25px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link_stylised :hover, .link_stylised:active {
    background-color: darkslateblue;
}

.image_article {
    background-size: cover;
    height: 400px;
    width: 50%;
}

/* Smartphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .image_article {
        background-size: cover;
        height: 50%;
        width: 50%;
    }
}

/* Tablette */
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
    .image_article {
        background-size: cover;
        height: 200px;
        width: 50%;
    }
}


/*
@font-face {
    font-family: "FunSized";
    src: url("/public/fonts/FunSized.ttf");
}

.font_special {
    font-weight: bold;
    font-family: 'FunSized', serif;
    font-size: 50px;
}*/
